{% load widget_tweaks %}

<form method="POST">
    {% csrf_token %}
    <div>
        <div>
            <label><strong>Old Password:</strong></label>
            {% render_field form.old_password class="form-control form-control-user" placeholder="Old Password" %}
        </div>
            <span class="form_error">{{ form.old_password.errors }}</span>
    <div>
        <div>
            <label><strong>New Password:</strong></label>
            {% render_field form.new_password1 class="form-control form-control-user" placeholder="New Password" %}
        </div>
        <span class="form_error">{{ form.new_password1.errors }}</span>
    </div>
    <div>
        <div>
            <label><strong>Confirm New Password:</strong></label>
            {% render_field form.new_password2 class="form-control form-control-user" placeholder="Confirm New Password" %}
        </div>
        <span class="form_error">{{ form.new_password2.errors }}</span>
    </div>
    <button type="submit">
        Change password
    </button>
</form>
<div>
    Or
</div>
<div>
    <a class="small" href="{% url 'home' %}">Cancel</a>
</div>
