{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Password Reset Completed{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">Password Reset Completed</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="p-5">
                        <p>Your password has been changed successfully and you can login again. <a href="{% url 'home' %}">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
