{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Password Recover{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">You are only one step a way from your new password, recover your password now.</h1>
    </div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label><strong>Password:</strong></label>
                                {% render_field form.new_password1 class="form-control form-control-user" placeholder="New Password" %}
                            </div>
                        </div>
                        <div class="form-group row">
                             <span class="form_error">{{ form.new_password1.errors }}</span>
                            <div class="col-sm-12">
                                <label><strong>Confirm New Password:</strong></label>
                                {% render_field form.new_password2 class="form-control form-control-user" placeholder="Confirm New Password" %}
                            </div>
                             <span class="form_error">{{ form.new_password2.errors }}</span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Change password
                        </button>
                    </form>
                    <div class="text-center">
                        Or
                    </div>
                    <div class="text-center">
                        <a class="small" href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
