<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-rss-square"></i>
        </div>
        <div class="sidebar-brand-text mx-3">TaskTrack</div>
    </a>

    <hr class="sidebar-divider my-0">
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>Home</span></a>
    </li>

    <hr class="sidebar-divider">
    {% if user.is_superuser %}
    <div class="sidebar-heading">
        Admin
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'tasks' %}">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Tasks</span></a>
    </li>

    <hr class="sidebar-divider">
    {% endif %}
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    {% endif %}
</ul>
